<div id='sidebar'>

<aside class='navigation'>	
	<nav>
		<ul>
            <strong><li>Looksee</li></strong>
            <br>
            <br>
            <br>

        	<li>Home</li>
            <li>Galleries</li>
            	<ul class='drop'>	
            	<li>50's</li>
            	<li>60's</li>
            	<li>70's</li>
                <li>80's</li>
                <li>90's</li>
                <li>00's</li>
                <li>10's</li>
            	</ul>
                <br>
                <br>

            <li>Connect with us!</li>
            <br>

            <a href="https://github.com/sofiagarcia/looksee" target="_blank"><img src="http://i229.photobucket.com/albums/ee313/abyles/5511439e-087e-4434-a0b3-75732ec4d644.png" border="0" alt=" photo 5511439e-087e-4434-a0b3-75732ec4d644.png"/></a>

            <a href="https://instagram.com/sofiagarcia/" target="_blank"><img src="http://i229.photobucket.com/albums/ee313/abyles/05955ac9-16f0-43bd-820a-696f4d87fd86.png" border="0" alt=" photo 05955ac9-16f0-43bd-820a-696f4d87fd86.png"/></a>

        </ul>
	</nav>
</aside>

</div>

<section class="intro">
    <h1> Hello </h1>
    
    <p> Shizzlin dizzle ipsum dolor fo shizzle mammasay mammasa mamma oo sa, consectetizzle adipiscing yo mamma. Own yo' sapizzle velizzle, sizzle volutpizzle, suscipit sure, gravida vizzle, arcu. Pellentesque owned tortor. Sed eros. Bow wow wow izzle fizzle you son of a bizzle pot tempizzle daahng dawg. Maurizzle pellentesque nibh izzle owned. Mah nizzle izzle tortizzle. Pellentesque bow wow wow rhoncizzle the bizzle. In yippiyo habitasse platea bow wow wow. Uhuh ... yih! dapibizzle. Phat tellus urna, pretizzle uhuh ... yih!, ma nizzle gangsta, gangster pizzle, crunk. Mah nizzle suscipizzle. Doggy things shut the shizzle up shiznit purus.</p>

    <br>
    <p> Vivamizzle nec mauris egizzle nisi funky fresh fo shizzle. Shit fo amet lacizzle. Nam eu nisl eget sure auctizzle fizzle. Black shit viverra ipsum. Curabitizzle dang arcu. Dizzle enim enizzle, cool gizzle, congue da bomb, dignissim go to hizzle, libero. Pizzle vitae pede non eros posuere hizzle. Quisque mammasay mammasa mamma oo sa tortor, congue pulvinizzle, uhuh ... yih! a, shit fo shizzle amet, erizzle. Shiznit at dui. Aliquam sheezy dope, gangsta consectetuer, sollicitudin izzle, consequat imperdizzle, sure. Quisque a ipsum phat shit vehicula. Dope go to hizzle sagittizzle ipsizzle. Ass habitant morbi break it down mammasay mammasa mamma oo sa black netus izzle shiznit fames mah nizzle i saw beyonces tizzles and my pizzle went crizzle shizzle my nizzle crocodizzle. In est. Curabitur elementum. Ut fizzle felizzle, funky fresh quizzle, suscipit ac, dope pulvinar, break it down. Nulla shizzle my nizzle crocodizzle gravida velit.</p>


</section>





