/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */

 #sidebar, .intro {
 	/*margin-left: -.5em;*/
	margin-top: -.8em;
 }

#sidebar {
	font-family: 'Cutive Mono', ;
	background-color: #465975;
	height: 1000px;
	width: 250px;
	position: fixed;
	margin-left: -.5em;
	/*margin-top: -.5em;*/
}

.logo{
  font-family:monospace;
  font-size: 40px;
  a: {color: #F49D37; text-decoration: none; }
}


.navigation ul {
	list-style-type: none;
	padding-top: 1em;
	padding-right: 4em;
	line-height: 1.4em;
	font-size: 20px;
	position: static;
  	color: #E7D7C1;
  	a:link {color: #E7D7C1; text-decoration: none; }
  	a:visited {color: #E7D7C1; text-decoration: none; }
  	a:hover {color: #F49D37; text-decoration: none; }
}



.intro h1{
  font-family: "Cutive Mono";
  font-weight: bold;
  font-size: 270%;
  text-align: center;
}


.intro{
	text-align: center;
	padding-top: 7.5em;
	width: auto;
	height: auto;
	margin-left: 240px;
  	padding-left: 5em;
  	padding-right: 7em;
  	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  	line-height: 1.4em;

}


.button{
  color: #F49D37;
  width: 200px;
  height: 100px;
  text-align: center;
}

p {
  text-align: center;
  padding-top: 25px;
}
