.title {
  text-align: center;
  position: absolute;
  width: auto;
  height: 700px;
}

/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

#sidebar, .intro {
 	/*margin-left: -.5em;*/
	margin-top: -.8em;
  /*text-decoration: none;*/
 }

#sidebar {
	font-family: 'Cutive Mono', ;
	background-color: #465975;
	height: 1000px;
	width: 250px;
	position: fixed;
	margin-left: -.5em;
	/*margin-top: -.5em;*/


}

.logo{
  font-family:monospace;
  font-size: 40px;
}
.navigation ul {
	list-style-type: none;
	padding-top: 1em;
	padding-right: 4em;
	line-height: 1.4em;
	font-size: 20px;
	position: static;
  color: #E7D7C1;
  a:link {color: #E7D7C1; text-decoration: none; }
  a:visited {color: #F49D37; text-decoration: none; }
}

.collection_img{

  display: inline-grid;

}
